{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="">
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %} 
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <div class="container p-5">
        <h1 class="text-center">Connexion</h1>
        <a class="btn btn-secondary" href="{{ path('register') }}">Inscription</a>
        <form method="post">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text text-dark">Nous ne partagerons jamais votre e-mail avec quelqu'un d'autre.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div> 
            <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >
            <div class="d-flex flex-column justify-content-around m-2">
                <button type="submit" class="btn btn-secondary">Connexion</button> 
            </div>
            
        </form>   
        
    </div>   
</div>
{% endblock %}