<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>   

    {% block header %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid ">
            <a class="navbar-brand" href="#">
                <img src="{{ asset('images/logo.jpg') }}" alt="" width="100" height="50">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarScroll">
                <ul class="navbar-nav mr-5 ">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home<span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{{ path('post_index') }}">Mes projets</a>
                    </li>
                    {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('logout') }}" class="btn btn-dark m-2">Deconnexion</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('login') }}">Connexion</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% endblock %}
    <body>
        {% block body %}
         
        {% endblock %}
    </body>        
    
    {% block javascripts %} 
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</html>
