{% block body %}

<div class="d-flex flex-column justify-content-center mt-1">
    <div class="form-control">                
        <div class="text-center">
            {% set prototypePicture %}
                <div class="picture__name__">
                    {{ form_row(form.pictures.vars.prototype.name, { 'attr':{'class': 'form-control'}}) }}
                    {{ form_row(form.pictures.vars.prototype.path, { 'attr':{'class': 'form-control'}}) }}
                    <button type="button m-2" class="remove-tag btn btn-secondary mt-2">Supprimer</button>
                </div>
            {% endset %}
            
    
            {{ form_start(form, { 'attr':{'class': 'm-3'}}) }}  
                {{ form_row(form.name, { 'attr':{'class': 'form-control m-1'}}) }}
                {{ form_row(form.category, { 'attr':{'class': 'form-control m-1'}}) }}
                {{ form_row(form.text, { 'attr':{'class': 'form-control mt-2 mb-3'}}) }}'

                <button type="button" class="add-item btn btn-secondary" data-index="{{ form.pictures|length }}" data-type="pictures" data-prototype="{{ prototypePicture|e('html_attr') }}">Ajouter photo</button>

                <ul class="pictures">
                    {% for picture in form.pictures %}
                        <li class="picture{{ picture.vars.id }}">
                            <img src="{{ asset('images/picture_upload/' ~ picture.vars.value.path) }}" alt="" class="m-1" width="200px" height="100px">
                            {{ form_row(picture.name, { 'attr':{'class': 'form-control mt-1'}}) }}
                            {{ form_row(picture.path, { 'attr':{'class': 'form-control mt-1'}}) }}
                            <button type="button" class="remove-tag btn btn-secondary mt-2">Supprimer</button>
                        </li>
                    {% endfor %}
                </ul>
             

               {{ form_errors (form) }}
                <button class="btn btn-secondary" type="submit">Enregister</button>
            {{ form_end(form) }}
        </div>    
    </div>    
</div>
{% endblock %}