{% extends 'base.html.twig' %}


{% block title %}<h1>Liste de mes projets</h1>{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <table class="table">
            <thead>
            <tr class="text-center">
                <th>#</th>
                <th>Catégorie</th>
                <th>Nom du projet</th>
                <th>Descriptif</th>
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td><a href="{{ path('category_show', {'slug': post.category.slug}) }}">{{ post.category.name }}</a></td>
                    <td><a href="{{ path('post_show', {'slug': post.slug}) }}">{{ post.name }}</a></td>
                    <td>{{ post.text }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
        
{% endblock %}
